# Worker Service Configuration
NODE_ENV=development

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/transaction_db
DB_NAME=transaction_db

# RabbitMQ Configuration
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=transaction_queue
RABBITMQ_EXCHANGE=payment_exchange